[submodule "lib/adc-mcp3008"]
	path = lib/adc-mcp3008
	url = git@github.com:thecodechemist99/adc-mcp3008.git
[submodule "lib/nau7802"]
	path = lib/nau7802
	url = git@github.com:thecodechemist99/nau7802-rs.git
